.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about p {
  color: #aaa;
  margin-bottom: 2em;
  margin-top: 2em;
}

.about a {
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
  text-decoration: none;
}
h1 span{
  font-size: 1.3em;
  font-weight: 900;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#f77d61 0%, #f56364 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  }