.search_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.search_container h1{
    margin-bottom: 2em;
}

.search_container p {
    margin-bottom: 30px;
}